@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 20.0000 100.0000% 98.2353%;
        --foreground: 19.2000 15.7233% 31.1765%;
        --card: 0 0% 100%;
        --card-foreground: 19.2000 15.7233% 31.1765%;
        --popover: 0 0% 100%;
        --popover-foreground: 19.2000 15.7233% 31.1765%;
        --primary: 341.8605 100% 74.7059%;
        --primary-foreground: 0 0% 100%;
        --secondary: 23.0769 35.1351% 92.7451%;
        --secondary-foreground: 19.2000 15.7233% 31.1765%;
        --muted: 18.0000 50.0000% 96.0784%;
        --muted-foreground: 20.6897 13.3641% 57.4510%;
        --accent: 345.0000 100.0000% 92.9412%;
        --accent-foreground: 344.1026 48.5477% 47.2549%;
        --destructive: 358.0892 75.1196% 59.0196%;
        --destructive-foreground: 300 20% 99.0196%;
        --border: 21.1765 29.8246% 88.8235%;
        --input: 21.1765 29.8246% 88.8235%;
        --ring: 341.8605 100% 74.7059%;
        --chart-1: 341.8605 100% 74.7059%;
        --chart-2: 344.1026 48.5477% 47.2549%;
        --chart-3: 11.3793 40.2778% 71.7647%;
        --chart-4: 2.4000 69.4444% 85.8824%;
        --chart-5: 12.5000 34.2857% 86.2745%;
        --sidebar: 17.1429 53.8462% 97.4510%;
        --sidebar-foreground: 19.2000 15.7233% 31.1765%;
        --sidebar-primary: 341.8605 100% 74.7059%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 345.0000 100.0000% 92.9412%;
        --sidebar-accent-foreground: 344.1026 48.5477% 47.2549%;
        --sidebar-border: 20.0000 37.5000% 90.5882%;
        --sidebar-ring: 341.8605 100% 74.7059%;
        --font-sans: Inter, system-ui, sans-serif;
        --font-serif: Georgia, serif;
        --font-mono: JetBrains Mono, monospace;
        --radius: 1rem;
        --shadow-x: 0px;
        --shadow-y: 2px;
        --shadow-blur: 10px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.03;
        --shadow-color: 0 0% 0%;
        --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.01);
        --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.01);
        --shadow-sm: 0px 2px 10px 0px hsl(0 0% 0% / 0.03), 0px 1px 2px -1px hsl(0 0% 0% / 0.03);
        --shadow: 0px 2px 10px 0px hsl(0 0% 0% / 0.03), 0px 1px 2px -1px hsl(0 0% 0% / 0.03);
        --shadow-md: 0px 2px 10px 0px hsl(0 0% 0% / 0.03), 0px 2px 4px -1px hsl(0 0% 0% / 0.03);
        --shadow-lg: 0px 2px 10px 0px hsl(0 0% 0% / 0.03), 0px 4px 6px -1px hsl(0 0% 0% / 0.03);
        --shadow-xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.03), 0px 8px 10px -1px hsl(0 0% 0% / 0.03);
        --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.07);
        --tracking-normal: -0.01em;
        --spacing: 0.25rem;
    }

    .dark {
        --background: 15 18.1818% 8.6275%;
        --foreground: 17.1429 25.0000% 89.0196%;
        --card: 18 16.1290% 12.1569%;
        --card-foreground: 17.1429 25.0000% 89.0196%;
        --popover: 18 16.1290% 12.1569%;
        --popover-foreground: 17.1429 25.0000% 89.0196%;
        --primary: 341.8605 100% 74.7059%;
        --primary-foreground: 15 18.1818% 8.6275%;
        --secondary: 15.0000 15.3846% 15.2941%;
        --secondary-foreground: 17.1429 25.0000% 89.0196%;
        --muted: 15.0000 15.3846% 15.2941%;
        --muted-foreground: 20.6897 13.3641% 57.4510%;
        --accent: 347.5000 24.4898% 19.2157%;
        --accent-foreground: 345 100% 85.0980%;
        --destructive: 358.0892 75.1196% 59.0196%;
        --destructive-foreground: 300 20% 99.0196%;
        --border: 18.4615 14.6067% 17.4510%;
        --input: 18.4615 14.6067% 17.4510%;
        --ring: 341.8605 100% 74.7059%;
        --chart-1: 341.8605 100% 74.7059%;
        --chart-2: 345 100% 85.0980%;
        --chart-3: 11.3793 40.2778% 71.7647%;
        --chart-4: 19.2000 15.7233% 31.1765%;
        --chart-5: 18.4615 14.6067% 17.4510%;
        --sidebar: 17.1429 21.2121% 6.4706%;
        --sidebar-foreground: 17.1429 25.0000% 89.0196%;
        --sidebar-primary: 341.8605 100% 74.7059%;
        --sidebar-primary-foreground: 15 18.1818% 8.6275%;
        --sidebar-accent: 347.5000 24.4898% 19.2157%;
        --sidebar-accent-foreground: 345 100% 85.0980%;
        --sidebar-border: 15.0000 15.3846% 15.2941%;
        --sidebar-ring: 341.8605 100% 74.7059%;
        --font-sans: Inter, system-ui, sans-serif;
        --font-serif: Georgia, serif;
        --font-mono: JetBrains Mono, monospace;
        --radius: 1rem;
        --shadow-x: 0px;
        --shadow-y: 4px;
        --shadow-blur: 15px;
        --shadow-spread: 0px;
        --shadow-opacity: 0.3;
        --shadow-color: 0 0% 0%;
        --shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.15);
        --shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.15);
        --shadow-sm: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
        --shadow: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
        --shadow-md: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
        --shadow-lg: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
        --shadow-xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
        --shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 0.75);
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}